<ng-container *ngIf="cartItems.length === 0">
  <div class="flex justify-center items-center bg-red-600 border rounded p-3 m-20 text-white text-lg">
    Cart is Empty. Start your Shopping!!!
  </div>
</ng-container>
<div class="flex justify-center my-10" *ngFor="let cartItem of cartItems; index as i; trackBy: cartId">
  <div class="flex justify-center flex-col items-center border p-3 gap-4">
    <img class="w-52 h-52" src="{{cartItem.image}}" alt="pic"/>
    <p>{{cartItem.title}}</p>
    <p>{{cartItem.category}}</p>
  </div>
</div>

