<div class="products-list-wrapper flex flex-wrap justify-center">
  <div
    class="products-list-item w-1/4 m-4"
    *ngFor="let products of productsList | async"
  >
    <mat-card>
      <div [routerLink]="['productInfo', products.id]" class="cursor-pointer">
        <img
          class="product-item-image aspect-square shadow-xl mb-3 p-4 hover:scale-105"
          mat-card-image
          [src]="products.image"
          alt="Photo of a Category Image"
        />
      </div>
      <mat-card-content>
        <p class="text-white line-clamp-1 text-center">
          {{ products.title }}
        </p>
        <div class="flex justify-between items-center">
          <div class="text-red-500 font-bold text-lg">
            Price :
            {{ products.price }}
          </div>
          <button mat-raised-button color="primary">Add To Cart</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
