<div>
  <mat-toolbar color="primary" class="justify-between">
    <!-- <div class="flex justify-between"> -->
    <div [routerLink]="['']" class="cursor-pointer">Fab Closet</div>
    <div class="demo-section mr-4 flex gap-6 items-center">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="account_circle"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="auth/login">Login</button>
        <button mat-menu-item routerLink="auth/signup">Sign Up</button>
      </mat-menu>
      <mat-icon
        matBadge="{{ cartCount }}"
        matBadgeColor="warn"
        [routerLink]="'cartInfo'"
        class="cursor-pointer"
        >shopping_cart</mat-icon
      >
      <div>Welcome {{ userName }}</div>
    </div>
    <!-- </div> -->
  </mat-toolbar>
</div>
